@inherits BaseComponent

<div class="@ClassName(nameof(DayRow)) d-flex flex-row align-center w-100" @attributes="UserAttributes"
     @onclick="@OnClick">
    <MudText>@Day.Title</MudText>

    @*<div class="day-row__info d-flex flex-column text-align-center">
        <MudText>К: @Day.</MudText>
    </div>*@

    <div class="day-row__optional ms-auto">
        @OptionalContent
    </div>
</div>
