@inherits BaseComponent

<div class="@GetCssName(nameof(DayRow)) border rounded w-100 mt-2 @ClassName"
     style="@StyleName"
     @attributes="UserAttributes">
    <EcCard Title="@Day.Title"
            OnClick="OnClick">
        <OptionalContent>
            @OptionalContent
        </OptionalContent>
        <BottomContent>
            @BottomContent
        </BottomContent>
    </EcCard>
</div>