@inherits BaseComponent

<div class="@ClassName(nameof(ProductRow)) d-flex flex-row align-center w-100" @attributes="UserAttributes"
     @onclick="@OnClick">
    <MudText>@Product.Name</MudText>

    <div class="product-row__optional ms-auto">
        @OptionalContent
    </div>
</div>