@inherits BaseComponent

<div class="@GetCssName(nameof(ProductPFCInfo)) d-flex flex-row align-center px-1 @ClassName"
     style="@StyleName"
     @attributes="UserAttributes">
    <MudText>@_pFCInfo</MudText>
</div>