@using EatCalculator.UI.Features.Products.CreateProductForm.Components

@inherits BasePageComponent

<div class="create-product-page inner-main-content">
    <MudPaper Width="100%" Elevation="0">
        <CreateProductForm />
    </MudPaper>
</div>