@using EatCalculator.UI.Entities.Days.Components
@using EatCalculator.UI.Features.Days
@using EatCalculator.UI.Features.Days.CreateDayDialog.Components
@using Fluxor.Blazor.Web.Components

@inherits BasePageComponent

<div class="index-page inner-main-content">
    <MudPaper Elevation="0"
              Class="d-flex flex-column align-center">
        <MudPaper Width="100%" Elevation="3"
                  Class="border-b rounded-0">
            <MudToolBar Dense="true" Class="w-100">
                <MudText Typo="Typo.h5">Дни</MudText>
                <MudSpacer />
                <CreateDayDialog/>
            </MudToolBar>
        </MudPaper>
        <MudPaper Width="100%" Elevation="0"
                  Class="mt-2 px-2">
            <Condition Evaluation="@(_dayListSelector.Value.Count() > 0)">
                <Match>
                    <Iterations Items="@_dayListSelector.Value" Context="day">
                        <DayRow @key="day" Day="day">
                             <OptionalContent>
                                  <MudPaper Width="100%" Elevation="0"
                                          Class="d-flex flex-row align-center w-100">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                                   Size="Size.Small"
                                                   Class="ms-auto" />
                                    <DeleteDayButton Day="day" />
                                </MudPaper>
                            </OptionalContent>
                        </DayRow>
                    </Iterations>
                </Match>
                <NotMatch>
                    <MudText Align="Align.Center">Здесь пока ничего нет</MudText>
                </NotMatch>
            </Condition>
        </MudPaper>
    </MudPaper>
</div>