@namespace EatCalculator.UI.Shared.Components

@inherits BaseComponent

<div class="@GetCssName(nameof(MobileBottomInfoBlock)) absolute w-100 @ClassName"
     style="bottom: 2%; z-index: 2001"
@attributes="@UserAttributes">
    <MudContainer MaxWidth="MaxWidth.ExtraSmall"
                  Class="px-0">
        <MudSwipeArea OnSwipe="OnSwipe"
                      Class="d-flex flex-column align-center px-4">
            <Condition Evaluation="_showInfoBlock">
                <Match>
                    @ChildContent
                </Match>
                <NotMatch>
                    <div class="d-flex flex-row align-center">
                        <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowUp"
                        @onclick="_ => _showInfoBlock = true" />
                        <MudText>Подсказки</MudText>
                    </div>
                </NotMatch>
            </Condition>
        </MudSwipeArea>
    </MudContainer>
</div>

<MudOverlay @bind-Visible="_showInfoBlock"
            AutoClose="true" DarkBackground="true"
            Absolute="true" ZIndex="2000" />

@*<MudHidden Breakpoint="Breakpoint.Xs">

</MudHidden>*@