.mud-main-content {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 16px;

    .inner-main-content {
        width: 100%;
        height: 100%;
        padding-bottom: 16px;
        overflow: hidden;
    }
}

.mud-dialog-container {
    z-index: 3000;

    .mud-dialog {
        background-color: var(--mud-palette-background);

        .eat-calc-dialog-content {
            overflow-x: hidden;
            width: 100%;
            height: 100%;
            z-index: 3000;
        }
    }
}

@media (max-width: 599px) {
    .mud-main-content {
        margin-left: 0px !important;
        padding-top: 0px;

        .inner-main-content {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .mud-dialog {
        .eat-calc-dialog-content {
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .mud-main-content {
        .inner-main-content {
            padding-left: 8px;
            padding-right: 16px;
        }
    }

    .mud-dialog {
        .eat-calc-dialog-content {
            padding-left: 8px;
            padding-right: 16px;
        }
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    .mud-main-content {
        .inner-main-content {
            padding-left: 16px;
            padding-right: 32px;
        }
    }

    .mud-dialog {
        .eat-calc-dialog-content {
            padding-left: 16px;
            padding-right: 32px;
        }
    }
}

@media (min-width: 1280px) and (max-width: 1919px) {
    .mud-main-content {
        .inner-main-content {
            padding-left: 16px;
            padding-right: 32px;
        }
    }

    .mud-dialog {
        .eat-calc-dialog-content {
            padding-left: 16px;
            padding-right: 32px;
        }
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .mud-main-content {
        .inner-main-content {
            padding-left: 24px;
            padding-right: 40px;
        }
    }

    .mud-dialog {
        .eat-calc-dialog-content {
            padding-left: 24px;
            padding-right: 40px;
        }
    }
}

@media (min-width: 2560px) {
    .mud-main-content {
        .inner-main-content {
            padding-left: 24px;
            padding-right: 40px;
        }
    }

    .mud-dialog {
        .eat-calc-dialog-content {
            padding-left: 24px;
            padding-right: 40px;
        }
    }
}