@namespace EatCalculator.UI.Features.Meals.MealPortionsInfo

@inherits BaseComponent

<div class="@GetCssName(nameof(MealPortionsInfo)) @ClassName"
@attributes="UserAttributes">
    <MudContainer Class="d-flex flex-column align-center px-0 py-2">
        <Iterations Items="_mealPortionsGrams?.PortionGramsResults" Context="portionGrams">
            <MudContainer Class="d-flex flex-row flex-wrap align-center border rounded mt-2 px-2">
                <MudText Class="px-1">@portionGrams.Product.Title</MudText>
                <MudText Class="px-1 ms-auto">@FormatPortionGramsResult(portionGrams)</MudText>
            </MudContainer>
        </Iterations>
    </MudContainer>
</div>