@namespace UI

@inherits BaseComponent

<div class="@GetCssName(nameof(MobileBottomInfoBlock)) absolute @ClassName"
     style="z-index: 2001"
@attributes="@UserAttributes">
    <MudContainer MaxWidth="MaxWidth.Small"
                  Class="px-0">
        <MudSwipeArea OnSwipe="OnSwipe"
                      Class="d-flex flex-column align-center px-4">
            <Condition Evaluation="IsVisible">
                <Match>
                    @ChildContent
                </Match>
                <NotMatch>
                    <div class="blink-effect d-flex flex-row align-center"
                    @onclick="_ => IsVisible = true">
                        <MudIcon Icon="@Icons.Material.Filled.KeyboardArrowUp" />
                        <MudText>Подсказки</MudText>
                    </div>
                </NotMatch>
            </Condition>
        </MudSwipeArea>
    </MudContainer>
</div>

<MudOverlay Visible="IsVisible" VisibleChanged="value => FireIsVisibleChange(value)"
            AutoClose="true" DarkBackground="true"
            Absolute="true" ZIndex="2000" />