.mobile-bottom-info-block {
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);

    &.active {
        width: 100%;
    }

    .blink-effect {
        animation: blinker 2s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0.5;
        }
    }
}
